// ignore bundled assets
assets/bundles/*


// ignore node_modules
node_modules/*


// ignore package-lock.json
package-lock.json


// ignore webpack-stats.json wherever it may be found
webpack-stats.json


// ignore all pycache
__pycache__


// ignore db.sqlite3
db.sqlite3
